Django==1.4.3
Fabric==1.5.2
Pillow==9.0.1
South==0.7.6
django-annoying==0.7.6
django-debug-toolbar==0.9.4
django-extensions==1.0.2
django-guardian==1.0.4
django-redis-cache==0.9.5
django-redis-sessions==0.3.1
django-userena==1.1.2
easy-thumbnails==1.1
hiredis==0.1.1
redis==2.7.2
