{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
{% for photo in latest_photo_list %}
    <div class="photo row-fluid">
        <div class="span6">
            <img src="/static/upload/{{ photo.src }}" alt="photo">
	    <br/><a style="display:block;margin-top:-19px" href="{% url 'edit' photo.id %}">Edit</a>
        </div>
        <div class="span6">
            <h2>{{ photo.title }}</h2>
            <span class="caption">
                {{ photo.caption|truncatechars:300|linebreaks }}
                {% if photo.caption|length > 300 %}
                <a class="seemore" href="{% url get_full_caption photo.id %}">see more</a>
                {% endif %}
            </span>
            
        </div>
    </div>
{% empty %}
    <div class="row">
        Sorry, no photos, yet!
    </div>
{% endfor %}
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block extrasscript %}
    <script>
        $(function(){
            $(".caption").on('click', '.seemore', function(){
                var link = $(this);
                $.get(link.attr("href"), function(response){
                    link.parent().html(response.caption);
                });
                return false;
            });
        });
    </script>
{% endblock %}
