{% extends "base.html" %}
{% load i18n %}


{% block content %}
{% for photo in latest_photo_list %}
    <div class="photo row-fluid">
        <div class="span6">
            <img src="/static/upload/{{ photo.src }}" alt="photo">
        </div>
        <div class="span6">
            <h2>{{ photo.title }}</h2>
            <span class="caption">
                {{ photo.caption|truncatechars:300|linebreaks }}
                <a class="seemore" href="{% url get_full_caption photo.id %}">see more</a>
            </span>
            
        </div>
    </div>
{% empty %}
    <div class="row">
        Sorry, no photos, yet!
    </div>
{% endfor %}
{% endblock %}

{% block extrasscript %}
    <script>
        $(function(){
            $(".caption").on('click', '.seemore', function(){
                var link = $(this);
                $.get(link.attr("href"), function(response){
                    link.parent().html(response.caption);
                });
                return false;
            });
        });
    </script>
{% endblock %}