body
  background-color: #45C00D
  
div.photo
  background-color: #000
  font-family: times
  color: #fff
  span.caption
    font-size: 1.5em
    line-height: 1em
  img
    margin: 0 auto

.pagination
  font-size: 2em


.bbar
  background-color: black
  height: 30px
  width: 100px
  color: lightgray
  float: left

#blackbars
  height: 80px
  margin-bottom: 200px

#trash
  border: 1px solid gray
  height: 150px
