{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}blackBar&reg;{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script-->
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
      <link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    {% block extrastyles %}{% endblock %}
  </head>

  <body>
    
    {% block navbar %}    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><img style="height:19px" src="{{ STATIC_URL }}img/logo_white.png" alt="blackBar&reg;"></a>
          <div class="nav-collapse">
            <p class="navbar-text pull-right">
              {% if user.is_authenticated %}
              Hello <a class="navbar-link" href="{% url userena_profile_detail user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a>, 
              <a class="navbar-link" href="{% url userena_signout %}"><span>{% trans 'Signout' %}</span></a>
              {% else %}
              <a class="navbar-link" href="{% url userena_signin %}"><span>{% trans 'SignIn' %}</span></a> or 
              <a  class="navbar-link" href="{% url userena_signup %}"><span>{% trans 'SignUp' %}</span></a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="{% url upload %}">Upload</a></li>
              <li><a href="#contact">Contact</a></li>
               
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container-fluid">
      {% block content %}    
      {% endblock %}
      <footer>
      <p>
	&copy; 2012-2013 MyVC, Unltd. d.b.a lighf&reg;.  All Rights Reserved. blackBar&reg; is a patent-pending process.  Learn more: hi@lighf.com.
	</p>
    </footer>
    </div> <!-- /container -->
    
    <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!--script src="{{ STATIC_URL }}js/snow.js"></script-->
    {% block extrasscript %}{% endblock %}
  </body>
</html>
